* {
  box-sizing: border-box;
  font-family: arial;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgb(242, 228, 154);
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.win {
  position: absolute;
  background-color: tomato;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  flex-flow: column;
  align-items: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease .2s;
  text-align: center;

}
.headerwrap {
  display: flex;
  width: 90vw;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

}
.highScore {

}

.github {
  width: 50px;
  height: 50px;
}
.highScore > h4 {
  margin: 0;
}
ol {
  margin: 0;
  padding-left: 1rem;
}
 li {
  font-size: 12px;
}
.reset {
  margin-top: 0;
  cursor: pointer;
  font-family: arial;
  padding-left: 2rem;
}

.reset:hover {
  color: #7D2B1E;
}

.cardcontainer {
  height: auto;
  max-height: 650px;
  width: 650px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
  position: relative;
  perspective: 1000px;

}
.cardcontainer_shadow {
  height: auto;
  max-height: 650px;
  width: 650px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: opacity .5s ease;
  position: absolute;
  perspective: 1000px;

}
.container_idle {
  opacity: 0.5;

}
.container_clicked {
  pointer-events:none;
}

.cards {
  margin: 10px;
  min-width: 125px;
  min-height: 125px;
  max-width: 150px;
  max-height: 150px;
  opacity: 1;
  transition: .3s ease;
  Z-INDEX: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;

  cursor: pointer;
  position: relative;

}

.images {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  transition: .2s ease;
  transform: rotateX(180deg);
}

.pin {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  opacity: 1;
  transition: .2s ease;
}

.pin_clicked {
  opacity: 0;

}

.shadow {
  margin: 10px;
  min-width: 125px;
  min-height: 125px;
  max-width: 150px;
  max-height: 150px;
  background-color: none;
  filter: blur(5px);
  /*background: #b9b9b9;*/

    box-shadow: 5px 5px 5px #000000;
  transition: all 1s ease;
}

.images_clicked {
  opacity: 1;
  transition: .2s ease;
}

.cards_hover {
  transform: scale(1.05);

}

.clicked {
  transform-origin: center;
  transform: rotateX(180deg);
  pointer-events: none;
}
