* {
  box-sizing: border-box;
  font-family: arial;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgb(242, 228, 154);
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.win {
  position: absolute;
  background-color: tomato;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  flex-flow: column;
  align-items: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease .2s;
  text-align: center;

}
.headerwrap {
  display: flex;
  width: 100vw;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.highScore {
  min-width: 200px;

  right: 5%;


}
.highScore > h4 {
  margin: 0;

}
ol {
  margin: 0;
  padding-left: 1rem;

}
 li {

  font-size: 12px;
}
.reset {
  margin-top: 0;

  cursor: pointer;
  font-family: arial;
}

.reset:hover {
  color: #7D2B1E;
}

.cardcontainer {
  height: auto;
  max-height: 650px;
  width: 650px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
  position: relative;
  perspective: 1000px;

}
.cardcontainer_shadow {
  height: auto;
  max-height: 650px;
  width: 650px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: opacity .5s ease;
  position: absolute;
  perspective: 1000px;

}
.container_idle {
  opacity: 0.5;

}
.container_clicked {
  pointer-events:none;
}

.cards {
  margin: 10px;
  min-width: 125px;
  min-height: 125px;
  max-width: 150px;
  max-height: 150px;

  transition: .3s ease;
  Z-INDEX: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;

  cursor: pointer;
  position: relative;

}

.images {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  transition: .2s ease;
  transform: rotateX(180deg);
}

.pin {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  opacity: 1;
  transition: .2s ease;
}

.pin_clicked {
  opacity: 0;

}

.shadow {
  margin: 10px;
  min-width: 125px;
  min-height: 125px;
  max-width: 150px;
  max-height: 150px;
  background-color: none;
  filter: blur(5px);
  /*background: #b9b9b9;*/

    box-shadow: 5px 5px 5px #b9b9b9;
  transition: all 1s ease;
}

.images_clicked {
  opacity: 1;
  transition: .2s ease;
}
@keyframes pulse {
  0% {transform: scale(1)}
  50% {transform: scale(1.04)}
  100% {transform: scale(1)}
}
.cards_hover {
  animation: pulse 1s linear infinite;

}

.clicked {
  transform-origin: center;
  transform: rotateX(180deg);
  pointer-events: none;
}


@keyframes move {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.one_clicked {
  transform-origin: center;
  animation: move 1s ease 1;
}

@keyframes move2 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.two_clicked {
  transform-origin: center;
  animation: move2 1s ease 1;
}

@keyframes move3 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.three_clicked {
  transform-origin: center;
  animation: move3 1s ease 1;
}

@keyframes move4 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.four_clicked {
  transform-origin: center;
  animation: move4 1s ease 1;
}

@keyframes move5 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.five_clicked {
  transform-origin: center;
  animation: move5 1s ease 1;
}

@keyframes move6 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.six_clicked {
  transform-origin: center;
  animation: move6 1s ease 1;
}

@keyframes move7 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}


@keyframes move8 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.eight.clicked {
  transform-origin: center;
  animation: move8 1s ease 1;
}
