* {
  box-sizing: border-box;
  font-family: arial;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;

}
.win {
  position: absolute;
  background-color: tomato;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease .2s;
}
.reset {
  margin-top: 0;

  cursor: pointer;
  font-family: arial;
}

.reset:hover {
  color: rgb(159,218,216);
}

.cardcontainer {
  height: auto;
  max-height: 650px;
  width: 650px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
  position: relative;
  perspective: 1000px;
}
.container_idle {
  opacity: 0.5;

}

.cards {
  margin: 10px;
  min-width: 125px;
  min-height: 125px;
  max-width: 150px;
  max-height: 150px;
  background: rgb(159, 218, 216);
  transition: .3s ease;
  box-shadow: 4px 4px 4px #9b9b9b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  position: relative;

}

@keyframes pulse {
  0% {transform: scale(1)}
  50% {transform: scale(1.04)}
  100% {transform: scale(1)}
}
.cards_hover {
  animation: pulse 1s linear infinite;

}
.clicked {
  transform-origin: center;
  transform: rotateX(180deg);
}


@keyframes move {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.one_clicked {
  transform-origin: center;
  animation: move 1s ease 1;
}

@keyframes move2 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.two_clicked {
  transform-origin: center;
  animation: move2 1s ease 1;
}

@keyframes move3 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.three_clicked {
  transform-origin: center;
  animation: move3 1s ease 1;
}

@keyframes move4 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.four_clicked {
  transform-origin: center;
  animation: move4 1s ease 1;
}

@keyframes move5 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.five_clicked {
  transform-origin: center;
  animation: move5 1s ease 1;
}

@keyframes move6 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.six_clicked {
  transform-origin: center;
  animation: move6 1s ease 1;
}

@keyframes move7 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.seven.clicked {
  transform-origin: center;
  animation: move7 1s ease 1;
}

@keyframes move8 {
  0% {}
  60%  {transform: translateX(200px) translateY(-100px) rotate(520deg)}

  100% {transform: translateX(0px) translateY(0px) rotate(0deg)}
}
.eight.clicked {
  transform-origin: center;
  animation: move8 1s ease 1;
}
