@media screen and (max-width: 500px) {
	body {
	  width: 100vw;
	  height: 100vh;
	  display: flex;
	  flex-flow: column;
	  justify-content: center;
	  align-items: center;
	  margin: 0;
	  background-color: rgb(242, 228, 154);
	  background-image: url(images/background.jpg);
	  background-size: cover;
	  background-repeat: repeat-y;
	}

	.cardcontainer {
	  height: auto;
	  max-height: 650px;
	  width: 100vw;
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: center;
	  align-items: center;
	  transition: opacity 1s ease;
	  position: relative;
	  perspective: 1000px;
	}

	.cards {
	  margin: 10px;
	  min-width: 100px;
	  min-height: 100px;
	  max-width: 150px;
	  max-height: 150px;
	  opacity: 1;
	  transition: .3s ease;
	  Z-INDEX: 1;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  font-size: 24px;
	  cursor:  auto;
	  position: relative;
	}

	.headerwrap {
	  display: flex;
	  width: 90vw;
	  flex-flow: row wrap;
	  justify-content: space-between;
	  align-items: center;
	  margin-top: 1rem;
	}

	.win {
	  position: absolute;
	  background-color: tomato;
	  height: 200px;
	  width: 90vw;
	  display: flex;
	  justify-content: center;
	  -ms-align-items: center;
	  flex-flow: column;
	  align-items: center;
	  z-index: 1;
	  opacity: 0;
	  visibility: hidden;
	  transition: opacity .3s ease .2s;
	  text-align: center;
	}

}
